In [1]:
sc

# Loading (remote) E-OBS observations and summer days (SU) calculation

Git repo: https://github.com/rmsryu/spark-climate-data.git
Data set: https://www.ecad.eu/download/ensembles/download.php

E-OBS data is loaded from the remote OpenDAP repository at KNMI. Please, note that when new versions become available the link is no longer valid since the URL is updated with the version number. Therefore, if the code below doesn't work please check the current E-OBS version and update the URL (https://www.ecad.eu/download/ensembles/download.php). 

# Study of daily precipitation from Station Aalsmeer Netherlands
Data source: https://climexp.knmi.nl/data/rrrr458.dat
Data provide by: Royal Netherlands Meteorological Institute (KNMI)

In [2]:
import numpy as np
import matplotlib.pyplot as plt
from pyspark import SparkFiles
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
hadoopUrl = 'hdfs://hadoop-vm.internal.cloudapp.net:9000'
data_files = f'{hadoopUrl}/precipitation/data/*/*.parquet'
# Obtain dataset
data = spark.read.parquet(data_files)
data = data.withColumn("precipitation", col("precipitation").cast("float"))
data = data.withColumn("date", col("date").cast("date"))
data.createOrReplaceTempView("precipitations")
data.cache()

# Read Station Info
schema_stations = StructType([
        StructField("station", StringType(), True),
        StructField("name", StringType(), True),
        StructField("latitude", FloatType(), True),
        StructField("longitude", FloatType(), True),
        StructField("website", StringType(), True),
        StructField("rawdata", StringType(), True),
        StructField("filename", StringType(), True),
        StructField("from", StringType(), True),
        StructField("to", StringType(), True)
    ])
station_files = 'hdfs://hadoop-vm.internal.cloudapp.net:9000/precipitation/data/stations/*.csv'
stations = spark.read.csv(station_files,schema=schema_stations)
stations.withColumn("from", col("from").cast("date"))
stations.withColumn("to", col("to").cast("date"))
stations.createOrReplaceTempView("stations")

In [5]:
data.summary().show()

+-------+------------------+-----------------+
|summary|           station|    precipitation|
+-------+------------------+-----------------+
|  count|          13120148|         13120148|
|   mean|483.02698064076714| 2.13989743152896|
| stddev|287.72368836944077|4.339730993138887|
|    min|               001|              0.0|
|    25%|             228.0|              0.0|
|    50%|             466.0|              0.1|
|    75%|             737.0|              2.4|
|    max|               983|            208.0|
+-------+------------------+-----------------+

In [6]:
stations.show()

+-------+--------------------+--------+---------+--------------------+--------------------+------------+----------+----------+
|station|                name|latitude|longitude|             website|             rawdata|    filename|      from|        to|
+-------+--------------------+--------+---------+--------------------+--------------------+------------+----------+----------+
|    458|            Aalsmeer|   52.25|     4.77|https://climexp.k...|https://climexp.k...|rrrr458.data|1927-01-02|2023-03-10|
|    040|   Aalsum bij Dokkum|  -999.9|   -999.9|https://climexp.k...|https://climexp.k...|rrrr040.data|1892-12-29|1925-09-30|
|    680|              Aalten|    51.9|     6.55|https://climexp.k...|https://climexp.k...|rrrr680.data|1904-08-02|2023-03-10|
|    711|          Aardenburg|  -999.9|   -999.9|https://climexp.k...|https://climexp.k...|rrrr711.data|1873-12-01|1887-06-30|
|    572|             Abcoude|   52.25|     4.97|https://climexp.k...|https://climexp.k...|rrrr572.data|1930-09-02|2023-03-10|
|    045|              Akkrum|  -999.9|   -999.9|https://climexp.k...|https://climexp.k...|rrrr045.data|1882-10-01|1937-04-30|
|    089|              Akkrum|   53.05|     5.82|https://climexp.k...|https://climexp.k...|rrrr089.data|1995-10-01|2023-03-10|
|    200|             Alkmaar|  -999.9|   -999.9|https://climexp.k...|https://climexp.k...|rrrr200.data|1880-03-02|1941-09-01|
|    664|              Almelo|   52.33|     6.67|https://climexp.k...|https://climexp.k...|rrrr664.data|1880-08-02|2023-03-10|
|    678|               Almen|   52.15|     6.32|https://climexp.k...|https://climexp.k...|rrrr678.data|1950-03-02|2023-03-10|
|    363|Alteveer (Hoogeveen)|  -999.9|   -999.9|https://climexp.k...|https://climexp.k...|rrrr363.data|1916-11-01|1922-09-30|
|    169|                Amen|  -999.9|   -999.9|https://climexp.k...|https://climexp.k...|rrrr169.data|1968-01-01|1975-01-01|
|    560|           Amerongen|   51.98|     5.45|https://climexp.k...|https://climexp.k...|rrrr560.data|1910-04-09|2023-03-10|
|    515|          Amersfoort|  -999.9|   -999.9|https://climexp.k...|https://climexp.k...|rrrr515.data|1880-05-01|1948-04-01|
|    529|Amersfoort (Tutei...|  -999.9|   -999.9|https://climexp.k...|https://climexp.k...|rrrr529.data|1928-01-01|1934-12-31|
|    910|          Ammerzoden|   51.73|      5.2|https://climexp.k...|https://climexp.k...|rrrr910.data|1932-10-14|2023-03-10|
|    441|           Amsterdam|   52.37|     4.92|https://climexp.k...|https://climexp.k...|rrrr441.data|1916-01-01|2015-01-01|
|    433|Amsterdam Anwi (Fil)|  -999.9|   -999.9|https://climexp.k...|https://climexp.k...|rrrr433.data|1880-01-01|1962-01-01|
|    835|               Andel|   51.78|     5.05|https://climexp.k...|https://climexp.k...|rrrr835.data|1912-02-24|2023-03-10|
|    205|              Andijk|  -999.9|   -999.9|https://climexp.k...|https://climexp.k...|rrrr205.data|1904-01-01|1935-10-31|
+-------+--------------------+--------+---------+--------------------+--------------------+------------+----------+----------+
only showing top 20 rows

# Stations stats

In [7]:
spark.sql("SELECT station,\
              year(min(date)) min_year, \
              year(max(date)) - year(min(date)) num_years, \
              count(precipitation) count,\
              mean(precipitation) mean, \
              stddev(precipitation) stddev, \
              min(precipitation) min, \
              percentile(precipitation,0.25) 25pct, \
              percentile(precipitation,0.50) 50pct, \
              percentile(precipitation,0.75) 75pct, \
              max(precipitation) max \
            FROM precipitations GROUP BY station ORDER BY station").show()

+-------+--------+---------+-----+------------------+------------------+---+-----+-------------------+------------------+-----+
|station|min_year|num_years|count|              mean|            stddev|min|25pct|              50pct|             75pct|  max|
+-------+--------+---------+-----+------------------+------------------+---+-----+-------------------+------------------+-----+
|    001|    1940|       83|29556| 2.174519556030149| 4.370148656161713|0.0|  0.0|0.10000000149011612|               2.5| 76.6|
|    003|    1902|       51|18482|2.0838329184571815| 4.277456332945257|0.0|  0.0|0.10000000149011612| 2.299999952316284| 78.4|
|    004|    1904|        1|  419| 1.617899758558996|3.4800441747162214|0.0|  0.0|0.10000000149011612| 1.399999976158142| 26.9|
|    006|    1905|       38|13970|1.7968360776213679| 3.740703703355201|0.0|  0.0|0.10000000149011612| 1.899999976158142| 82.1|
|    007|    1906|       44|15101|1.9131845566100272|3.8756137261021313|0.0|  0.0|                0.0| 2.200000047683716| 64.7|
|    008|    1937|        3| 1096|1.5393248179614762|3.4753844346339866|0.0|  0.0|                0.0| 1.600000023841858| 38.0|
|    009|    1851|      121|44406|1.8896342841528726|3.8899340549232315|0.0|  0.0|0.10000000149011612|2.0999999046325684| 83.3|
|    010|    1872|      151|52324|2.0548104115429116| 4.179136243163778|0.0|  0.0|                0.0|2.4000000953674316|109.4|
|    011|    1876|      147|53758| 2.082222180832206| 4.201727303440663|0.0|  0.0|0.10000000149011612|2.4000000953674316| 91.0|
|    012|    1879|      144|42144| 2.113351841111213| 4.162499025008069|0.0|  0.0|                0.0|               2.5| 78.9|
|    013|    1885|      100|15262| 2.010267331447858|3.9819975326866857|0.0|  0.0|0.20000000298023224| 2.299999952316284| 57.9|
|    014|    1885|       67| 7476|1.7431514188726998| 3.773894477530973|0.0|  0.0|                0.0|1.7999999523162842| 56.0|
|    015|    1885|      138|49809| 2.089361360136142| 4.329440914202082|0.0|  0.0|                0.0|2.4000000953674316| 85.5|
|    016|    1891|      132|48159|2.0030503136297924| 4.152152517357461|0.0|  0.0|0.10000000149011612| 2.200000047683716|112.3|
|    017|    1894|      129|29843|2.1887645339229724| 4.318287714354467|0.0|  0.0|0.20000000298023224|               2.5| 57.5|
|    018|    1916|      107|36771|2.2269125135079992| 4.474478831477688|0.0|  0.0|0.10000000149011612| 2.700000047683716| 87.2|
|    019|    1929|       94|34221|2.1881330180013485|4.3172841497787715|0.0|  0.0|0.20000000298023224|               2.5| 67.5|
|    021|    1940|       83|29594|2.1730249374286683|4.3682149079767045|0.0|  0.0|0.10000000149011612|               2.5| 76.6|
|    022|    1950|       73|26537|2.2094773349523833| 4.390459839096478|0.0|  0.0|0.20000000298023224|               2.5| 68.3|
|    023|    1876|        9| 1824|1.8230263121066648| 3.806213185611394|0.0|  0.0|                0.0|               2.0| 38.2|
+-------+--------+---------+-----+------------------+------------------+---+-----+-------------------+------------------+-----+
only showing top 20 rows

## Reliabality

To create a relevant and reliable dataset for average precipitation the following will be considered:

**Data selection**: Focus on the period with the most comprehensive and consistent data choosing a time frame when a higher number of weather stations are available.

**Handling missing data**: For stations with missing data or long gaps consider remove or imputate missing values.

**Temporal trends**: Analyze the dataset for any systematic temporal trends (e.g., increasing or decreasing precipitation over the years). 

**Weighting**: Contribution of each station based on factors like the length of the available data, the quality of the measurements, or the spatial coverage. Spatial coverage per station is 10Km

**Spatial coverage**: Stations spread homogenusly on the Netherland area. Some of stations do not include spatial information.

In [8]:
from functools import reduce
from operator import add

def find_desired_year_stations(minimum_year = 1978, min_desired_data_points_per_year = 360):    
    # Get stations grouped by year and calculate desired number of records per year
    stations_years_complete  = spark.sql(f"SELECT station, year(date) year, count(precipitation) pre_year FROM precipitations where year(date) >= {minimum_year} GROUP BY station, year(date)")
    stations_years_complete = stations_years_complete.filter(col("pre_year") > min_desired_data_points_per_year)
    stations_years_complete = stations_years_complete.select("station","year").orderBy("station","year")

    # Group by 'station' and pivot on 'year'
    df_transposed = stations_years_complete.groupBy("station").pivot("year").avg("year")

    # Count the number of non null years per station
    year_columns = df_transposed.columns[1:]
    
    # expresion to filter year column not null
    count_years_expr = reduce(add, [when(col(year_col).isNotNull(), 1).otherwise(0) for year_col in year_columns])
    df_transposed = df_transposed.withColumn("total_years", count_years_expr)

    # print(f"Looking for stations with years {len(year_columns)}")
    stations_for_analysis = df_transposed.filter(col("total_years") == len(year_columns)).select("station","total_years")
    stations_filter = [item.station for item in stations_for_analysis.collect()]
    # print(f"A total of {len(stations_filter)} stations to be included")
    
    return stations_filter

In [9]:
starting_years = np.arange(1950, 1960)
# Iterate to find best year
year_list = []
result = []
best_num_of_stations = 0
for year in starting_years:
    temp = len(find_desired_year_stations(year, 360))
    result.append((year,temp))
    best_initial_year =  year if (temp > best_num_of_stations) else best_initial_year
    best_num_of_stations =  temp if (temp > best_num_of_stations) else best_num_of_stations

{"@version":1,"source_host":"rmsryu-vm","message":"Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.","thread_name":"Thread-4","@timestamp":"2023-04-06T18:12:23.602+0000","level":"WARN","logger_name":"org.apache.spark.sql.catalyst.util.package"}

In [10]:
result

[(1950, 132),
 (1951, 144),
 (1952, 150),
 (1953, 156),
 (1954, 174),
 (1955, 179),
 (1956, 188),
 (1957, 204),
 (1958, 212),
 (1959, 218)]

In [14]:
candiate_min_year = 1955
# Selecting year 1955 as baseline with 179 station complete stations datasets and minimum 360 observations
stations_filter = find_desired_year_stations(candiate_min_year, 360)

In [15]:
len(stations_filter)

179

In [16]:
data = data.filter(data.station.isin(stations_filter))
data.createOrReplaceTempView("final_ds")
df_final = spark.sql(f"SELECT date, avg(precipitation) precipitation, count(precipitation) w from final_ds where year(date) > {candiate_min_year} group by date")
df_final.summary().show()

+-------+-------------------+-------------------+
|summary|      precipitation|                  w|
+-------+-------------------+-------------------+
|  count|              24541|              24541|
|   mean| 2.2576964836099185| 178.99690314168126|
| stddev|  3.513736968249654|0.07864081706020871|
|    min|                0.0|                177|
|    25%|0.03240223528619585|                179|
|    50%| 0.6435754158476877|                179|
|    75%|  3.143575413183793|                179|
|    max|  45.87486042257128|                179|
+-------+-------------------+-------------------+

In [17]:
# Save to hadoop
df_final.write.mode("overwrite").parquet(f"{hadoopUrl}/precipitation/data/agg/from/{candiate_min_year}")

In [18]:
stations_filter

['829',
 '467',
 '666',
 '447',
 '740',
 '747',
 '442',
 '743',
 '462',
 '234',
 '672',
 '543',
 '073',
 '434',
 '974',
 '356',
 '087',
 '348',
 '541',
 '970',
 '584',
 '443',
 '910',
 '737',
 '670',
 '139',
 '559',
 '352',
 '160',
 '012',
 '570',
 '539',
 '843',
 '742',
 '973',
 '964',
 '749',
 '458',
 '565',
 '067',
 '573',
 '075',
 '327',
 '221',
 '081',
 '897',
 '163',
 '912',
 '453',
 '224',
 '019',
 '667',
 '449',
 '046',
 '140',
 '549',
 '905',
 '736',
 '835',
 '558',
 '147',
 '839',
 '455',
 '328',
 '228',
 '669',
 '011',
 '756',
 '341',
 '329',
 '967',
 '678',
 '229',
 '066',
 '076',
 '354',
 '578',
 '464',
 '439',
 '837',
 '840',
 '345',
 '238',
 '456',
 '901',
 '913',
 '914',
 '827',
 '156',
 '338',
 '830',
 '963',
 '754',
 '755',
 '965',
 '834',
 '450',
 '471',
 '968',
 '461',
 '741',
 '437',
 '751',
 '665',
 '673',
 '896',
 '832',
 '090',
 '016',
 '833',
 '148',
 '240',
 '239',
 '158',
 '838',
 '236',
 '564',
 '567',
 '444',
 '562',
 '336',
 '068',
 '907',
 '358',
 '899',
 '550',
 '680',
 '561',
 '681',
 '342',
 '022',
 '454',
 '064',
 '668',
 '588',
 '750',
 '463',
 '077',
 '763',
 '010',
 '546',
 '563',
 '222',
 '911',
 '225',
 '235',
 '752',
 '746',
 '252',
 '056',
 '339',
 '844',
 '333',
 '915',
 '764',
 '831',
 '080',
 '760',
 '017',
 '583',
 '161',
 '758',
 '151',
 '082',
 '353',
 '579',
 '674',
 '828',
 '085',
 '664',
 '226',
 '340',
 '145',
 '330',
 '542',
 '332',
 '572',
 '084',
 '438']