In [1]:
sc

# Loading (remote) E-OBS observations and summer days (SU) calculation

Git repo: https://github.com/rmsryu/spark-climate-data.git
Data set: https://www.ecad.eu/download/ensembles/download.php

E-OBS data is loaded from the remote OpenDAP repository at KNMI. Please, note that when new versions become available the link is no longer valid since the URL is updated with the version number. Therefore, if the code below doesn't work please check the current E-OBS version and update the URL (https://www.ecad.eu/download/ensembles/download.php). 

# Study of daily precipitation from Station Aalsmeer Netherlands
Data source: https://climexp.knmi.nl/data/rrrr458.dat
Data provide by: Royal Netherlands Meteorological Institute (KNMI)

In [2]:
import numpy as np
import matplotlib.pyplot as plt
from pyspark import SparkFiles
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
data_files = 'hdfs://hadoop-vm.internal.cloudapp.net:9000/precipitation/data/*/*.parquet'
# Obtain dataset
data = spark.read.parquet(data_files)
data = data.withColumn("precipitation", col("precipitation").cast("float"))
data = data.withColumn("date", col("date").cast("date"))
data.createOrReplaceTempView("climate")
data.cache()

DataFrame[station: string, date: date, precipitation: float]

In [5]:
data.summary().show()

+-------+------------------+-----------------+
|summary|           station|    precipitation|
+-------+------------------+-----------------+
|  count|          13120148|         13120148|
|   mean|483.02698064076714| 2.13989743152896|
| stddev|287.72368836944077|4.339730993138887|
|    min|               001|              0.0|
|    25%|             228.0|              0.0|
|    50%|             466.0|              0.1|
|    75%|             737.0|              2.4|
|    max|               983|            208.0|
+-------+------------------+-----------------+

In [122]:
spark.sql("SELECT station,\
              year(min(date)) min_year, \
              year(max(date)) - year(min(date)) num_years, \
              count(precipitation) count,\
              mean(precipitation) mean, \
              stddev(precipitation) stddev, \
              min(precipitation) min, \
              percentile(precipitation,0.25) 25pct, \
              percentile(precipitation,0.50) 50pct, \
              percentile(precipitation,0.75) 75pct, \
              max(precipitation) max \
            FROM climate GROUP BY station ORDER BY station").show()

+-------+--------+---------+-----+------------------+------------------+---+-----+-------------------+------------------+-----+
|station|min_year|num_years|count|              mean|            stddev|min|25pct|              50pct|             75pct|  max|
+-------+--------+---------+-----+------------------+------------------+---+-----+-------------------+------------------+-----+
|    001|    1940|       83|29556| 2.174519556030149| 4.370148656161713|0.0|  0.0|0.10000000149011612|               2.5| 76.6|
|    003|    1902|       51|18482|2.0838329184571815| 4.277456332945257|0.0|  0.0|0.10000000149011612| 2.299999952316284| 78.4|
|    004|    1904|        1|  419| 1.617899758558996|3.4800441747162214|0.0|  0.0|0.10000000149011612| 1.399999976158142| 26.9|
|    006|    1905|       38|13970|1.7968360776213679| 3.740703703355201|0.0|  0.0|0.10000000149011612| 1.899999976158142| 82.1|
|    007|    1906|       44|15101|1.9131845566100272|3.8756137261021313|0.0|  0.0|                0.0| 2.200000047683716| 64.7|
|    008|    1937|        3| 1096|1.5393248179614762|3.4753844346339866|0.0|  0.0|                0.0| 1.600000023841858| 38.0|
|    009|    1851|      121|44406|1.8896342841528726|3.8899340549232315|0.0|  0.0|0.10000000149011612|2.0999999046325684| 83.3|
|    010|    1872|      151|52324|2.0548104115429116| 4.179136243163778|0.0|  0.0|                0.0|2.4000000953674316|109.4|
|    011|    1876|      147|53758| 2.082222180832206| 4.201727303440663|0.0|  0.0|0.10000000149011612|2.4000000953674316| 91.0|
|    012|    1879|      144|42144| 2.113351841111213| 4.162499025008069|0.0|  0.0|                0.0|               2.5| 78.9|
|    013|    1885|      100|15262| 2.010267331447858|3.9819975326866857|0.0|  0.0|0.20000000298023224| 2.299999952316284| 57.9|
|    014|    1885|       67| 7476|1.7431514188726998| 3.773894477530973|0.0|  0.0|                0.0|1.7999999523162842| 56.0|
|    015|    1885|      138|49809| 2.089361360136142| 4.329440914202082|0.0|  0.0|                0.0|2.4000000953674316| 85.5|
|    016|    1891|      132|48159|2.0030503136297924| 4.152152517357461|0.0|  0.0|0.10000000149011612| 2.200000047683716|112.3|
|    017|    1894|      129|29843|2.1887645339229724| 4.318287714354467|0.0|  0.0|0.20000000298023224|               2.5| 57.5|
|    018|    1916|      107|36771|2.2269125135079992| 4.474478831477688|0.0|  0.0|0.10000000149011612| 2.700000047683716| 87.2|
|    019|    1929|       94|34221|2.1881330180013485|4.3172841497787715|0.0|  0.0|0.20000000298023224|               2.5| 67.5|
|    021|    1940|       83|29594|2.1730249374286683|4.3682149079767045|0.0|  0.0|0.10000000149011612|               2.5| 76.6|
|    022|    1950|       73|26537|2.2094773349523833| 4.390459839096478|0.0|  0.0|0.20000000298023224|               2.5| 68.3|
|    023|    1876|        9| 1824|1.8230263121066648| 3.806213185611394|0.0|  0.0|                0.0|               2.0| 38.2|
+-------+--------+---------+-----+------------------+------------------+---+-----+-------------------+------------------+-----+
only showing top 20 rows

Finding stations with no missing values

In [153]:
stations_years_complete  = spark.sql("SELECT station, year(date) year FROM climate GROUP BY station, year(date) having count(precipitation) = 365 ")

In [154]:
stations_years_complete = stations_years_complete.filter(col('year') > 1900)

In [155]:
stations_years_complete_g = stations_years_complete.groupby("station").count()

In [162]:
stations_years_complete_f = stations_years_complete_g.filter(col("count") > 90)
stations_years_complete_f.summary().show()

+-------+------------------+------------------+
|summary|           station|             count|
+-------+------------------+------------------+
|  count|                26|                26|
|   mean|432.38461538461536|  91.6923076923077|
| stddev| 276.8216865670863|0.5491251783869141|
|    min|               011|                91|
|    25%|             145.0|                91|
|    50%|             438.0|                92|
|    75%|             663.0|                92|
|    max|               961|                93|
+-------+------------------+------------------+

In [172]:
# Stations with more than 90 years of data
stations_for_analysis = stations_years_complete_f.select("station")

In [173]:
 stations_filter = [item.station for item in stations_for_analysis.collect()]

In [176]:
data = data.filter(data.station.isin(stations_filter))
data.summary().show()

+-------+-----------------+------------------+
|summary|          station|     precipitation|
+-------+-----------------+------------------+
|  count|          1345761|           1345761|
|   mean|434.9810397239926|2.1177081224171546|
| stddev|271.9042656388644| 4.274620138428894|
|    min|              011|               0.0|
|    25%|            145.0|               0.0|
|    50%|            438.0|               0.1|
|    75%|            663.0|               2.4|
|    max|              961|             118.5|
+-------+-----------------+------------------+

In [185]:
import sys

# These are the usual ipython objects, including this one you are creating
ipython_vars = ['In', 'Out', 'exit', 'quit', 'get_ipython', 'ipython_vars']

# Get a sorted list of the objects and their sizes
sorted([(x, sys.getsizeof(globals().get(x))) for x in dir() if not x.startswith('_') and x not in sys.modules and x not in ipython_vars], key=lambda x: x[1], reverse=True)

[('ArrayType', 1064),
 ('BinaryType', 1064),
 ('BooleanType', 1064),
 ('ByteType', 1064),
 ('Column', 1064),
 ('DataFrame', 1192),
 ('DataType', 1064),
 ('DateType', 1064),
 ('DecimalType', 1064),
 ('DoubleType', 1064),
 ('FloatType', 1064),
 ('IntegerType', 1064),
 ('LongType', 1064),
 ('MapType', 1064),
 ('NullType', 1064),
 ('PandasUDFType', 1064),
 ('PythonEvalType', 1064),
 ('ShortType', 1064),
 ('SparkContext', 1472),
 ('SparkFiles', 1064),
 ('SparkSession', 1192),
 ('StringType', 1064),
 ('StructField', 1064),
 ('StructType', 1064),
 ('TimestampType', 1064),
 ('UserDefinedFunction', 1064),
 ('abs', 136),
 ('acos', 136),
 ('acosh', 136),
 ('add_months', 136),
 ('aggregate', 136),
 ('approxCountDistinct', 136),
 ('approx_count_distinct', 136),
 ('array_contains', 136),
 ('array_distinct', 136),
 ('array_except', 136),
 ('array_intersect', 136),
 ('array_join', 136),
 ('array_max', 136),
 ('array_min', 136),
 ('array_position', 136),
 ('array_remove', 136),
 ('array_repeat', 136),
 ('array_sort', 136),
 ('array_union', 136),
 ('arrays_overlap', 136),
 ('arrays_zip', 136),
 ('asc', 136),
 ('asc_nulls_first', 136),
 ('asc_nulls_last', 136),
 ('ascii', 136),
 ('asin', 136),
 ('asinh', 136),
 ('assert_true', 136),
 ('atan', 136),
 ('atan2', 136),
 ('atanh', 136),
 ('avg', 136),
 ('bin', 136),
 ('bitwiseNOT', 136),
 ('bitwise_not', 136),
 ('broadcast', 136),
 ('bround', 136),
 ('bucket', 136),
 ('cbrt', 136),
 ('ceil', 136),
 ('coalesce', 136),
 ('col', 136),
 ('collect_list', 136),
 ('collect_set', 136),
 ('column', 136),
 ('concat', 136),
 ('concat_ws', 136),
 ('conv', 136),
 ('corr', 136),
 ('cos', 136),
 ('cosh', 136),
 ('count', 136),
 ('countDistinct', 136),
 ('count_distinct', 136),
 ('covar_pop', 136),
 ('covar_samp', 136),
 ('crc32', 136),
 ('create_map', 136),
 ('cume_dist', 136),
 ('current_date', 136),
 ('current_timestamp', 136),
 ('data', 48),
 ('data_files', 123),
 ('date_add', 136),
 ('date_format', 136),
 ('date_sub', 136),
 ('date_trunc', 136),
 ('datediff', 136),
 ('dayofmonth', 136),
 ('dayofweek', 136),
 ('dayofyear', 136),
 ('days', 136),
 ('decode', 136),
 ('degrees', 136),
 ('dense_rank', 136),
 ('desc', 136),
 ('desc_nulls_first', 136),
 ('desc_nulls_last', 136),
 ('df', 139959288),
 ('element_at', 136),
 ('encode', 136),
 ('exists', 136),
 ('exp', 136),
 ('explode', 136),
 ('explode_outer', 136),
 ('expm1', 136),
 ('expr', 136),
 ('factorial', 136),
 ('filter', 136),
 ('first', 136),
 ('flatten', 136),
 ('floor', 136),
 ('forall', 136),
 ('format_number', 136),
 ('format_string', 136),
 ('from_csv', 136),
 ('from_json', 136),
 ('from_unixtime', 136),
 ('from_utc_timestamp', 136),
 ('get_json_object', 136),
 ('greatest', 136),
 ('grouping', 136),
 ('grouping_id', 136),
 ('hash', 136),
 ('hex', 136),
 ('hour', 136),
 ('hours', 136),
 ('hypot', 136),
 ('initcap', 136),
 ('input_file_name', 136),
 ('instr', 136),
 ('isnan', 136),
 ('isnull', 136),
 ('json_tuple', 136),
 ('kurtosis', 136),
 ('l2', 336),
 ('lag', 136),
 ('last', 136),
 ('last_day', 136),
 ('lead', 136),
 ('least', 136),
 ('length', 136),
 ('levenshtein', 136),
 ('lit', 136),
 ('locate', 136),
 ('log', 136),
 ('log10', 136),
 ('log1p', 136),
 ('log2', 136),
 ('lower', 136),
 ('lpad', 136),
 ('ltrim', 136),
 ('map_concat', 136),
 ('map_entries', 136),
 ('map_filter', 136),
 ('map_from_arrays', 136),
 ('map_from_entries', 136),
 ('map_keys', 136),
 ('map_values', 136),
 ('map_zip_with', 136),
 ('max', 136),
 ('md5', 136),
 ('mean', 136),
 ('min', 136),
 ('minute', 136),
 ('monotonically_increasing_id', 136),
 ('month', 136),
 ('months', 136),
 ('months_between', 136),
 ('nanvl', 136),
 ('next_day', 136),
 ('np', 72),
 ('nth_value', 136),
 ('ntile', 136),
 ('open', 136),
 ('overlay', 136),
 ('pandas_udf', 136),
 ('percent_rank', 136),
 ('percentile_approx', 136),
 ('plt', 72),
 ('posexplode', 136),
 ('posexplode_outer', 136),
 ('pow', 136),
 ('product', 136),
 ('quarter', 136),
 ('radians', 136),
 ('raise_error', 136),
 ('rand', 136),
 ('randn', 136),
 ('rank', 136),
 ('regexp_extract', 136),
 ('regexp_replace', 136),
 ('repeat', 136),
 ('reverse', 136),
 ('rint', 136),
 ('round', 136),
 ('row_number', 136),
 ('rpad', 136),
 ('rtrim', 136),
 ('sc', 48),
 ('schema_of_csv', 136),
 ('schema_of_json', 136),
 ('second', 136),
 ('sentences', 136),
 ('sequence', 136),
 ('session_window', 136),
 ('sha1', 136),
 ('sha2', 136),
 ('shiftLeft', 136),
 ('shiftRight', 136),
 ('shiftRightUnsigned', 136),
 ('shiftleft', 136),
 ('shiftright', 136),
 ('shiftrightunsigned', 136),
 ('shuffle', 136),
 ('signum', 136),
 ('sin', 136),
 ('since', 136),
 ('sinh', 136),
 ('size', 136),
 ('skewness', 136),
 ('slice', 136),
 ('sort_array', 136),
 ('soundex', 136),
 ('spark', 48),
 ('spark_partition_id', 136),
 ('split', 136),
 ('sql', 64),
 ('sqlContext', 48),
 ('sqlCtx', 48),
 ('sqrt', 136),
 ('stations_filter', 336),
 ('stations_for_analysis', 48),
 ('stations_years_complete', 48),
 ('stations_years_complete_f', 48),
 ('stations_years_complete_g', 48),
 ('stddev', 136),
 ('stddev_pop', 136),
 ('stddev_samp', 136),
 ('substring', 136),
 ('substring_index', 136),
 ('sum', 136),
 ('sumDistinct', 136),
 ('sum_distinct', 136),
 ('tan', 136),
 ('tanh', 136),
 ('timestamp_seconds', 136),
 ('toDegrees', 136),
 ('toRadians', 136),
 ('to_csv', 136),
 ('to_date', 136),
 ('to_json', 136),
 ('to_str', 136),
 ('to_timestamp', 136),
 ('to_utc_timestamp', 136),
 ('transform', 136),
 ('transform_keys', 136),
 ('transform_values', 136),
 ('translate', 136),
 ('trim', 136),
 ('trunc', 136),
 ('udf', 136),
 ('unbase64', 136),
 ('unhex', 136),
 ('unix_timestamp', 136),
 ('upper', 136),
 ('var_pop', 136),
 ('var_samp', 136),
 ('variance', 136),
 ('weekofyear', 136),
 ('when', 136),
 ('window', 136),
 ('xxhash64', 136),
 ('year', 136),
 ('years', 136),
 ('zip_with', 136)]